{% extends 'base.html' %}

{% block content %}
<div class="center-wrapper container">
  {% block centralized_content %}
    <div class="card bg-dark col-7">
      {% block card_content %}
        {% block plate_header %}
          {% include 'books/book_card_header.html' %}
        {% endblock plate_header %}
        <div class="card-body row">
          {% block plate_content %}{% endblock plate_content %}
        </div>

        {% block plate_footer %}
          <div class="card-footer row align-items-center">
            <div class="col-6 align-self-start">
              <button class="btn btn-secondary">
                Back
              </button>
            </div>
            <div class="col-6 d-flex justify-content-center">
              {% block footer_msg %}
                {% if not available_libraries %}
                <span class="text-warning">This book is unavalable for rent.</span>
                {% else %}
                <span class="text-muted">This book is available in {{ available_libraries.paginator.count }} libraries.</span>
                {% endif %}
              {% endblock footer_msg %}
            </div>
          </div>
        {% endblock plate_footer %}

      {% endblock card_content %}
    </div>
  {% endblock centralized_content %}
</div>
{% endblock content %}
