{% extends 'base.html' %}

{% block content %}
<div class="center-wrapper container">
  <div class="card bg-dark col-7">
    {% block plate_header %}
      <div class="card-header d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <h3 class="text-gradient">{{ book.name }}</h3>
          <span class="text-muted mx-2">by {{ book.author }}</span>
        </div>
        <span class="text-muted">{{ book.publisher }}</span>
      </div>
    {% endblock plate_header %}
    <div class="card-body row">
      {% block plate_content %}{% endblock plate_content %}
    </div>

    {% block plate_footer %}
      <div class="card-footer row align-items-center">
        <div class="col-6 align-self-start">
          <button class="btn btn-secondary">
            Back
          </button>
        </div>
        <div class="col-6 d-flex justify-content-center">
          {% block footer_msg %}
            {% if not available_libraries %}
            <span class="text-warning">This book is unavalable for rent.</span>
            {% else %}
            <span class="text-muted">This book is available in {{ available_libraries.paginator.count }} libraries.</span>
            {% endif %}
          {% endblock footer_msg %}
        </div>
      </div>
    {% endblock plate_footer %}
  </div>
</div>
{% endblock content %}
