{% extends 'plate_layout.html' %}

{% block plate_content %}
  <div class="card-body row">
    <div class="col-6">
      {{ book.description }}
    </div>
    <div class="col-6 d-flex flex-column">
      {% if available_libraries %}
      <h4>
        Available in:
      </h4>
      <ul class="list-group list-group-flush">
        {% for lib_book in available_libraries %}
        <li class="list-group-item bg-dark text-light d-flex align-items-center justify-content-between">
          <span>{{ lib_book.library.name }}</span>
          <a href={% url 'libraries:books-detail' lib_book.id %} class="text-gradient">
            More
          </a>
        </li>
        {% endfor %}
      </ul>
      <div class="mt-auto">
        {% include 'inline_paginator.html' with is_paginated=True page_obj=available_libraries %}
      </div>
      {% endif %}
    </div>
  </div>
{% endblock plate_content %}
